<div *ngIf="errorMessage" class="alert alert-danger">
  {{errorMessage}}
</div>
<div class="row container-fluid">
  <div class="col-md-12">
    <h4> New Person</h4>
    <form #formulaire="ngForm">
      <div class="form-group">
        <label class="form-label" for=firstname>First Name</label>
        <input required id="firstname" type="text" ngModel name="firstname" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for=lastname>Last Name</label>
        <input required id="lastname" type="text"  ngModel name="lastname" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label" for=Email>Email Adress</label>
        <input required id="email" type="email" ngModel  email="true" name="email" class="form-control">
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" [disabled]="formulaire.invalid" (click)="addPerson(formulaire)" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
